<div class="banner">
    <div class="container-grid posicao-texto">
    <div class="texto-banner">
        <h1>Jogos para você e para toda a família!</h1>
        <a href="">Confira aqui!</a>     
    </div>
</div>
</div>

<section class="promocoes">
    <div class="conteudo-promocoes container-grid">
        <div class="row">
    <div class="texto-promocoes">
        <h2>Milhares de promoções para você!</h2>
        <p>Placas de vídeo, memória ram, SSD, HD, teclado gamer, e muito mais!</p>
        <a href="">Confira aqui!</a>
    </div>